body {
}
.modal-footer p {
        margin-bottom: 2px !important;
    }

    .close {
        position: absolute;
        right: 5px;
        top: 0px;
        color: #fff !important;
        font-size: 40px;
        opacity: 1 !important;
    }

    .errorText {
        color: #fff !important;
        font-size: 13px !important;
        display: block;
        text-align: center;
        background-color: red;
        margin-top: 10px;
        padding: 8px;
    }

    .successText {
        color: #fff !important;
        font-size: 13px !important;
        display: block;
        text-align: center;
        background-color: darkgreen;
        margin-top: 10px;
        padding: 8px;
    }

    #SelectPayment option {
        font-size: 14px;
        font-weight: bold;
    }

    #SelectPayment optgroup option {
        font-size: 12px;
        font-weight: normal;

    }

    #Div1 li:hover {
        cursor: pointer !important;
    }
    .pading45 {padding-right:45px;    }
    @media only screen and (max-width:767px) { 
        .pading45 {padding-right:0px; padding-left:0px;    }
        .pading45 > .collapse { display:block; }
        .container-menu {padding-left: 0px; padding-right: 0px;        }

    }

#footernav1 li a {font-size: 13px !important;}
 .banner_fluid {
   padding-left:0;
   padding-right:0;
}
.carousel-control {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
     z-index: 5;
    display: inline-block;
}

    @media only screen and (max-width:767px) {
        .carosual_widthright {
            /*width: 17%!important;*/
        }

        .carosual_widthleft {
            width: 1%!important;
        }

        .carousel-control {
            top: 22%!important;
        }
        .imgwidthright {
            width:35px;
        }
        .imgwidthleft {
            width:35px;
        }
    }
    /*.carousel-control.right {
        background-image: none!important;
        position: absolute;
        top: 40%;
        text-align: right;
        font-size: 7em;
        font-weight: normal !important;
        color:#00bcd4;
        padding-right: 50px !important;
    }

    .carousel-control.left {
        background-image: none!important;
        position: absolute;
        top: 40%;
        text-align: left;
        font-size: 7em;
        font-weight: normal !important;
        color: #00bcd4;
        padding-left: 50px !important;
    }*/
    .carosual_widthright {width:auto;    }
    .carosual_widthleft {width:1%!important;    }
.specialtyopddata div {
    padding-bottom: 40px;
}
.specialityDetailContent {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
}

.bjqs-markers {
        display: none;
    }

    #certification-banner-slider {
        margin-left: 16.6667%;
    }

.divBookApp_left_form {
        padding-bottom: 0px;
        margin-top: 0px !important;
    }

.nav-list.bs-docs-sidenav .active a {
        background-color: #00bcd4;
        color: #fff !important;
    }

.healthTip-table {
    border-spacing:5px;
    padding:5px;
    width:100%;
    border-width:0px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 22px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 7px 12px;
    pointer-events: none;
}